/*.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 32px;
}*/
.screen-header {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;*/
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  /*margin-bottom: 15px;*/
  width: 100%;
  box-sizing: border-box;
  margin-top: -75px;
  background-color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
